{% extends "base.html" %}

{% block content %}

<div class="div_center">
  <legend class="border-bottom mb-4 text-center">
    <span class="text-muted">- Our Misssion -</span>
    <br/>
    <span class="container_font"><p><br/>Get you all you need to know about your favorite movies with a tap of a finger.</p></span></legend>
    <legend class="border-bottom mb-4 text-center">
    <span class="text-muted">Meet Behind The Scene Team</span>
    <br/>
    <span class="container_font"><p>
      <ul class="ul_nobullet">
        <li><strong>Danny</strong> <br/>dancristea@csu.fullerton.edu</li>
        <li><strong>Edgar</strong> <br/>ed.cruz76@csu.fullerton.edu</li>
        <li><strong>Hoda</strong> <br/>hoda@csu.fullerton.edu</li>
        <li><strong>Rashmi</strong> <br/>rashmidewan9@csu.fullerton.edu</li>
      </ul><br/>
      we are students in university of california, Fullerton,
      working on a way towards our degree in computer science. </p></span></legend>


</div>
{% endblock %}
