{% extends "base.html" %}

{% block content %}
<div class="div_center">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="text-center">
  <div class="form-group">
    <a class="btn btn-outline-info"href="{{ url_for('plans')}}">Finish Sign Up</a>
  </div>
</div>
</div>

{% endblock %}
